body    {
    margin:0px;
    background-color:dimgrey;
}
#contantBox {
    position: relative;
    width: 600px;
    height: 99vh;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;
}
#map    {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.mapImg {
    width: 100%;
    height: 1500px;
    background-image: url(img/map.png);
    background-size: 100% 100%;
}
.myCharacter {  /* 캐릭터 판정  */
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 70px;
    left: 270px;
    border-radius: 100%;
    background-image: url(img/myCharacter.png);
    background-size: 100%;
}
.attactPoint,.enmattactPoint,.enmEliteattactPoint    {
    width: 10px;
    height:10px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background-image: url(img/myAttack.png);
    background-size: 100%;
}
.enmattactPoint     {
    background-image: url(img/enmAttack.png);
}
.enmEliteattactPoint     {
    background-image: url(img/enmEliteAttack.png);
}
.enemysAmy  {
    width: 50px;
    height:50px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background-image: url(img/enemyAmy.png);
    background-size: 100%;
}

.enemysElite  {
    width: 50px;
    height:50px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background-image: url(img/enemyElite.png);
    background-size: 100%;
}

.score  {
    position: fixed;
    right: 50px;
    top: 30px;
    font-size: 2vw;
    color:white;
}
#difficultyBox  {
    position: fixed;
    top: 20px;
    left: 210px;
    text-align: center;
}
#difficultyBox button   {
    border: none;
    background: darkgray;
    padding: 10px 55px;
    margin: 15px auto;
    display: block;
    border-radius: 50px;
    font-size: 1.7vw;
    box-shadow: inset 1px 1px 5px dimgrey;
}
button  {
    transition: all 0.3s;
}
button:hover {
    transform: scale(1.05);
}
button:active   {
    transform: scale(0.95);
}
#startBtnBox  {
    position: fixed;
    top: 550px;
    left: 245px;
    display: none;
}
#startBtnBox button {
    background: linear-gradient(45deg, black, transparent);
    background-repeat: no-repeat;
    padding: 10px 55px;
    margin: 15px auto;
    display: block;
    border-radius: 50px;
    font-size: 1.7vw;
    box-shadow: inset 1px 1px 5px dimgrey;
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
}
#setHiddenBox   {
    width: fit-content;
    margin: 0 auto;
    font-size: 1vw;
    color: white;
    overflow: hidden;
}
#set    {
    position: relative;
    transition: all 1s;
}

#myStat {
    position: absolute;
    right: 40px;
    top: 20%;
    width: 30%;
    height: 20vh;
}

#hp {
    display: flex;
    justify-content: center;
}
.hp {
    width: 100px;
    height: 100px;
    background: url(img/harte.png);
    margin: 10px;
}

#gameOver   {
    position: fixed;
    width: 30%;
    height: 10%;
    top: 40%;
    left: 35%;
    font-size: 3.8vw;
    font-weight: 700;
    text-shadow: 4px 4px 0px chocolate;
    display: none;
}

@keyframes mapMove  {
    from {
        top: -595%;
      }
    
      to {
        top: -110%;
      }
}


@media screen and (max-width: 768px) {
    #contantBox {
        min-width: 600px;
        width:100%;
    }
  }